---
layout: default
date: Created 
---

<article class="article site-width mx-auto">
    <div class="header mb-14">
        <h1 class=" text-slate-900 mt-0 mb-3">{{ title }}</h1>
        {% if not noDate %}
            <div class="text-sm">Published on {{ page.date | readableDate }}</div>
        {% endif %}
        {% if tags %}
            <div class="mt-3">
                {% for tag in tags %}
                    <a href="{{ '/tags/' | url }}{{ tag }}" class="inline-block no-underline hover:bg-slate-100 bg-slate-200 rounded-full px-3 py-1 text-sm font-medium text-slate-700 m-0.5">#{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
        {% if thumb %}
            <div class="mt-10">
                <img class="w-full max-w-2xl mx-auto" src="{{ thumb | url }}" width="960" height="500" alt="This post thumbnail">
            </div>
        {% endif %}
    </div>
    <div id="content" class="text-slate-800 max-w-none">
        {{ content | safe }}
    </div>
</article>