---
layout: default
title: Bio for Paul
---
<section class="mb-32">
  <article class="">
    <h1>Bio for Paul</h1>
    <div class="w-full shrink-0 grow-0 basis-auto md:w-10/12 md:pr-6 lg:w-9/12">

      <div>

        <p>Need a short bio for Paul? 
<a  target="_blank"href="https://docs.google.com/document/d/1BIZsFWgBIgLGOl88rL6vq4i60g0WhAAlC4MWIEOUIOM/edit">Long</a> (250 words),
<a target="_blank" href="https://docs.google.com/document/d/179-45Uuo8dvEJPTCvnng8OZFGnE9IhKiRvsh16sE3wk/edit">shorter</a>
(100 words),
<a target="_blank" href="https://docs.google.com/document/d/14bs3_5IGy-g9hlnN-sy728jAljDK6SWsRBHT6OEngzQ/edit">shortest</a>
(50 words),
or you can read a <a href="/truck/">book</a> :-)

</p>
        <p>See also
<a href="/photos/">photos</a> and
<a href="/press/">press page</a>,
and <a href="/feedback/">feedback from talks</a>.

</p>
        <p>And for amusement, here is my
<a href="/assets/img/resume.jpg">resume from 1988</a>.  

  


</p>
      </div>

    </div>

  </article>
</section>