---
layout: default
title: Contacting Paul
---
<section class="mb-32">
  <article class="max-w-article">
    <h1>Contacting Paul</h1>

    <p>I no longer have <a href="/busy.html">time</a> to
respond to every message but you can try 
{% include "partials/safeMailTo.njk" %}

    </p>
    <p>Thanks!
  


</p>
  </article>
</section>