---
layout: default
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
maxPosts: 3
---
<section class="mb-32">
  <article class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
    <div class="flex flex-wrap">
      <div class="block w-full basis-auto md:w-5/12 ">
        <img width=1100 height=1700 src="/assets/img/paul-english-boston-based-entrepreneur-activist.webp" alt="Paul English" class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg"/>
      </div>
      <div class="w-full shrink-0 grow-0 basis-auto md:w-7/12 xll:w-8/12">
        <div class="px-6 py-12 md:px-12">
          <h1 class="display-5 mb-6 text-4xl font-bold text-primary">
            Paul English is a Boston-based entrepreneur and activist
          </h1>
          <div class="[&_p]:my-3">
            <p>Media:
<a href="/npr/">NPR podcast: How How I Built This</a>,
<a href="/truck/">Book: Truck Full Of Money</a>,
<a href="/ted/">Video: TEDxBoston</a>,
<a href="/press/">other</a>.

</p>
            <p>Paul is a cofounder of
<a target="_blank" href="https://bvs.net">Boston Venture Studio</a>,
<a href="/kayak/">Kayak</a>,
<a href="https://deets.com">Deets</a>,
<a href="https://lola.com">Lola</a>,
<a href="/moonbeam.html">Moonbeam</a>,
<a target="_blank" href="https://reki.tv">Reki</a>,
<a href="/xiangqi.html">Xiangqi.com</a>,
<a target="_blank" href="https://middle.net">middle</a>,
<a target="_blank" href="https://funcontact.com">FunContact</a>,
<a href="/gethuman.html">GetHuman</a>,
<a href="/bostonlight.html">Boston Light</a>
and
<a href="/intermute.html">Intermute</a>.
See my <a href="/founder.html">founder stories</a>
and <a href="/startup.html">startup advice</a>.
I'm an active 
<a href="/investments.html">angel investor</a>,
focused on seed-stage consumer software.

</p>
            <p>Paul is a nonprofit cofounder of
the <a href="/ai/">Institute of Applied AI</a>,
<a href="/kingboston.html">Embrace&nbsp;Boston</a>,
<a href="/summits.html">Summits&nbsp;Education</a>,
<a target="_blank" href="winterwalk.html">Winter&nbsp;Walk</a>,
the <a target="_blank" href="https://bipolarsocialclub.org">Bipolar Social Club</a>
and <a target="_blank" href="https://bannedbooksusa.org">Banned Books USA</a>.
See also <a href="/giving.html">giving&nbsp;advice</a>.

</p>
            <p></p>
            <p>See also:
<a href="/articles.html">articles</a>,
<a href="/bio/">bio</a>,  
<a href="/press/">press</a>,
<a target="_blank" href="https://en.wikipedia.org/wiki/Paul_M._English">wikipedia</a>,
<a href="/contact">contact</a>.

</p>
            <p>Follow Paul on
<a target="_blank" href="https://deets.com/paul">Deets</a>,
<a target="_blank" href="https://www.linkedin.com/in/englishpaulm/">LinkedIn</a>,  
<a target="_blank" href="https://twitter.com/englishpaulm">Twitter</a>
and
<a target="_blank" href="https://instagram.com/englishpaulm">Instagram</a>.

</p>
          </div>

        </div>
      </div>
    </div>
  </article>
</section>
<section>
  <h1 class="text-3xl leading-normal font-bold mt-0 mb-7 text-center">The Latest Articles</h1>
  <div class="flex flex-wrap -mx-2">
    {% include "partials/post-grid.njk" %}
  </div>
  <a href="/articles" class="float-right font-semibold py-2 px-4 border rounded shadow-md text-slate-800 cursor-pointer hover:bg-slate-100">More Articles..</a>

</section>