---
layout: default
title: Photos of Paul
---
<section class="mb-32">
  <article class="max-w-article">
    <h1>Photos of Paul</h1>

    <p>If you need a headshot for a conference program or article, you can
use any of these, just credit the photographer.
  
</p>
    <p>Blade - photo credit John Davenport<br>
      <a href="/assets/img/blade00.jpg"><img alt="Paul English" class="w-full" src="/assets/img/blade00.jpg" width="500" height="569"></a>
      <a href="/assets/img/blade03.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/blade03.jpg" width="500" height="333"></a>
      <a href="/assets/img/blade10.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/blade10.jpg" width="500" height="384"></a>

    </p>
    <p>
      <a href="https://bostoncommon-magazine.com/who-are-the-trendiest-people-in-boston">Boston
Common Magazine, February, 2015</a> -
photo credit Conor Doherty  
<br>
      <a href="/assets/img/bc01.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/bc01.jpg" width="500" height="333"></a>

    </p>
    <p>UMASS Boston - Honorary Doctorate - 2019
<br>
      <a href="/assets/img/umb.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/umb.jpg" width="500" height="334"></a>
      <br>
      <a href="/assets/img/umb2.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/umb2.jpg" width="500" height="334"></a>

    </p>
    <p>
      <a href="http://www.bostonmagazine.com/news/2018/01/09/paul-english/">Boston
Magazine, January 2018</a> -
photo credit David Yellen
<br>
      <a href="/assets/img/bm02.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/bm02.jpg" width="500"  height="667"></a>

    </p>
    <p>
      <a href="https://www.nytimes.com/2017/04/28/technology/meet-the-people-who-train-the-robots-to-do-their-own-jobs.html">New York Times, April 28, 2017</a> -
photo credit Shiho Fukada
<br>
      <a href="/assets/img/nyt01.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/nyt01.jpg" width="500" height="333"></a>
      <a href="/assets/img/nyt02.jpg"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/nyt02.jpg" width="500" height="333"></a>

    </p>
    <p>New York City, May 2022 - photo credit Rachel Cohen
<br>
      <a href="/assets/img/nyc.png"><img alt="Paul English" class="w-full" loading="lazy" src="/assets/img/nyc.png" width="500" height="627"></a>

    </p>
  </article>
</section>