{% for name, length in collections.tagList %}
    <a href="{{ '/tags/' | url }}{{ name }}" class="inline-block mx-1 mb-3 px-4 py-1 bg-slate-200 hover:bg-slate-300 text-slate-700 font-medium rounded-full no-underline">
        <span class="align-middle">{{ name | capitalize }}</span>
        <span class="px-2 py-1 ml-1 text-xs font-semibold bg-teal-300 text-teal-800 rounded-full">{{ length }}</span>
    </a>
{% endfor %}